<!DOCTYPE html>
<html lang="en">
  <head>
 

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="author" content="ClaPat Studio">
    
    <title>Fabogesic</title>
    
    <!-- Favicon -->
    <link rel="icon" type="image/ico" href="images/favicon.ico">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"> 
    <!-- Sticky Footer styles -->
    <link rel="stylesheet" href="css/sticky-footer-navbar.css">
    <!-- Custom styles -->
    <link rel="stylesheet" href="css/app.css">
    <!-- Fonts styles -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body class="bg-primary">
    

    <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html"><img src="assets/img/main-logo-inverse.png" alt="Fabogesic"></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="presentaciones.html">PRESENTACIONES</a></li>
                <li><a href="que-es-el-ibuprofeno.html">¿QUÉ ES EL IBUPROFENO?</a></li>
                <li class="active"><a>USOS MÁS FRECUENTES</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container usos-internas">

      <div class="header">
        <img src="assets/img/header-dolores-cabeza.jpg" alt="DOLORES DE CABEZA" class="img-responsive">
      </div>

      <!-- Three columns of text below the carousel -->
      <div class="row">

        <div class="col-sm-12">

          <div class="row">

            <div class="col-sm-6">
              
              <div id="accordion">

                <h4 class="panel-title margin30">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    <img class="img-responsive" src="assets/img/btn-que-es-dolor.png" alt="¿Qué es un dolor de cabeza?">
                  </a>
                </h4>

                <div id="collapseOne" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="col-sm-12 text-left">
                      
                      <p>Un dolor de cabeza es causado generalmente por arterias y vasos sanguíneos dilatados en tu cerebro. <br /><strong>Los más frecuentes son:</strong></p>

                    </div>

                    <div class="col-sm-12">
                      
                      <div class="row">
                        
                        <div class="col-xs-12 col-sm-6">
                          
                          <ul>
                            <li class="tick tick-white">Leves</li>
                            <li class="tick tick-white">Tensionales</li>
                            <li class="tick tick-white">Migrañas</li>
                          </ul>

                        </div>

                      </div>

                    </div>

                  </div>
                </div>

              </div>

            </div>

            <div class="col-sm-6">
              
              <div id="accordion">

                <h4 class="panel-title margin30">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    <img class="img-responsive" src="assets/img/btn-que-provoca.png" alt="¿Qué los provoca?">
                  </a>
                </h4>

                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="col-sm-12 text-left">
                      
                      <p>Los dolores de cabeza se deben a distintas razones. Algunos de los factores desencadenantes pueden ser:</p>

                    </div>

                    <div class="col-sm-12">
                      
                      <div class="row">
                        
                        <div class="col-xs-12 col-sm-6">
                          
                          <ul>
                            <li class="tick tick-white">Malas posturas</li>
                            <li class="tick tick-white">Olores ambientales fuertes</li>
                            <li class="tick tick-white">Fatiga</li>
                            <li class="tick tick-white">Cambios en el clima</li>
                          </ul>

                        </div>

                        <div class="col-xs-12 col-sm-6">
                          
                          <ul>
                            <li class="tick tick-white">Estrés</li>
                            <li class="tick tick-white">Depresión y ansiedad</li>
                            <li class="tick tick-white">Períodos menstruales</li>
                            <li class="tick tick-white">Deshidratación</li>
                          </ul>

                        </div>

                      </div>

                    </div>

                  </div>
                </div>

              </div>

            </div>

          </div>

        </div>
        
        <div class="col-sm-12">

          <div class="row">

            <div class="col-sm-6">
              
              <div id="accordion">

                <h4 class="panel-title margin30">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    <img class="img-responsive" src="assets/img/btn-como-prevenir.png" alt="¿Cómo puedo prevenir los dolores de cabeza?">
                  </a>
                </h4>

                <div id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="col-sm-12 text-left">
                      
                      <ul>
                        <li class="tick tick-white">Utilizá técnicas de respiración y relajación durante períodos de stress o en forma preventiva para mantenerte calmo y relajado.</li>
                        <li class="tick tick-white">Mantenete en forma haciendo ejercicio en forma regular.</li>
                        <li class="tick tick-white">Asegurate de obtener 8 horas de sueño por noche.</li>
                        <li class="tick tick-white">Tomate descansos regulares  y buscá aire fresco.</li>
                        <li class="tick tick-white">No permanezcas en lugares cerrados prolongadamente.</li>
                        <li class="tick tick-white">Procurá la ventilación y la buena circulación del aire en tu hábitat.</li>
                        <li class="tick tick-white">Evitá el alcohol y el tabaco.</li>
                        <li class="tick tick-white">Bebé mucho líquido.</li>
                      </ul>

                    </div>

                  </div>
                </div>

              </div>

            </div>

            <div class="col-sm-6">
              
              <div id="accordion">

                <h4 class="panel-title margin30">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                    <img class="img-responsive" src="assets/img/btn-como-prevenir.png" alt="¿Cómo puedo prevenir los dolores de cabeza?">
                  </a>
                </h4>

                <div id="collapseFour" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="col-sm-12 text-left">
                      
                      <p>No dejes de consultar a tu médico si percibís dolores anormales en forma prolongada.</p>

                    </div>
                  </div>
                </div>

              </div>

            </div>

          </div>

        </div>

        <div class="col-sm-12 bordered btn-back">
          <p class="text-left">
            <a href="usos-frecuentes.html" class="btn btn-warning" role="button"><strong>VER OTROS USOS</strong></a>
          </p>
        </div>

      </div><!-- /.row -->

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- Jquery -->
    <script src="lib/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="lib/bootstrap.min.js"></script>
    <!-- My App Scripts -->
    <script src="lib/holder.js"></script>
    <!-- My App Scripts -->
    <script src="js/app.js"></script>

    <!-- Google Analytics -->
    <script>

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function()
      { (i[r].q=i[r].q||[]).push(arguments)}

      ,i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51790155-1', 'fabogesic.com');
      ga('send', 'pageview');

    </script>

  </body>
</html>