<!DOCTYPE html>
<html lang="en">
  <head>
 

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="author" content="ClaPat Studio">
    
    <title>Fabogesic</title>
    
    <!-- Favicon -->
    <link rel="icon" type="image/ico" href="images/favicon.ico">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"> 
    <!-- Sticky Footer styles -->
    <link rel="stylesheet" href="css/sticky-footer-navbar.css">
    <!-- Custom styles -->
    <link rel="stylesheet" href="css/app.css">
    <!-- Fonts styles -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>
    

    <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html"><img src="assets/img/main-logo.png" alt="Fabogesic"></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="presentaciones.html">PRESENTACIONES</a></li>
                <li><a href="que-es-el-ibuprofeno.html">¿QUÉ ES EL IBUPROFENO?</a></li>
                <li><a href="usos-frecuentes.html">USOS MÁS FRECUENTES</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="assets/img/slider-img-01.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
        <div class="item">
          <img src="assets/img/slider-img-02.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
        <div class="item">
          <img src="assets/img/slider-img-03.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="marketing">

      <!-- Four columns of text below the carousel -->
        
        <div class="col-md-3 bg-primary">
          <h4>PRESENTACIONES</h4>
          <p>Conocé las distintas presentaciones de Fabogesic: Cápsulas blandas, comprimidos y Solución oral, en sus distintas versiones.</p>
          <a class="btn btn-warning" href="presentaciones.html" role="button">VER MÁS</a>
          <img src="assets/img/fabogesic-cajas.png" alt="PRESENTACIONES">
        </div><!-- /.col-md-3 -->
        
        <div class="col-md-3 bg-warning">
          <h4>¿QUÉ ES IBUPROFENO?</h4>
          <p>Fabogesic es un ibuprofeno que te ayuda a aliviar cualquier tipo de dolor que puede presentarse en tu organismo como los dolores de cabeza, posturales y muchos otros. Conocé los beneficios.</p>
          <a class="btn btn-primary" href="que-es-el-ibuprofeno.html" role="button">VER MÁS</a>
          <img src="assets/img/fabogesic-capsulas.png" alt="¿QUÉ ES IBUPROFENO?">
        </div><!-- /.col-md-3 -->
        
        <div class="col-md-3 bg-primary">
          <h4>USOS MÁS FRECUENTES</h4>
          <p>Frente a distintos dolores, Fabogesic actúa de forma rápida y eficaz. Dolores musculares, postulares, articulares o de cabeza, son tratados para que puedas continuar con tus tareas diarias.</p>
          <a class="btn btn-success" href="usos-frecuentes.html" role="button">VER MÁS</a>
          <img src="assets/img/pizarra.png" alt="USOS MÁS FRECUENTES">
        </div> <!-- /.col-md-3 -->

        <div class="col-md-3 bg-warning">
          <h4>¿QUIENES SOMOS?</h4>
          <p>Conocé nuestros otros productos en nuestro sitio web.</p>
        </div> <!-- /.col-xs-6 .col-sm-3 -->

    </div><!-- /.container -->

    <!-- <div id="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </div> -->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-show="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel"><img src="assets/img/main-logo.png" alt="Fabogesic"></h4>
          </div>
          <div class="modal-body">
            <p>La información de productos incluida en esta web es la contenida en el último prospecto aprobado por la Autoridad Regulatoria, se ofrece solamente con carácter informativo o educativo, sin fines promocionales y no pretende sustituir las opiniones y recomendaciones de los profesionales de la salud, que son los que deben tomar las decisiones relativas a la prescripción de medicamentos, teniendo en cuenta las características únicas de cada paciente.</p>
            <p><img src="assets/img/fabogesic-capsulas.png" alt="Fabogesic"></p>
          </div>
          <div class="modal-footer">
            <a class="btn btn-success" data-dismiss="modal" data-role="button">ACEPTAR</a>
          </div>
        </div>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- Jquery -->
    <script src="lib/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="lib/bootstrap.min.js"></script>
    <!-- My App Scripts -->
    <script src="lib/holder.js"></script>
    <!-- My App Scripts -->
    <script src="js/app.js"></script>

    <script>
      $('#myModal').modal({
          show: true
      });
    </script>
    
    <!-- Google Analytics -->
    <script>

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function()
      { (i[r].q=i[r].q||[]).push(arguments)}

      ,i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51790155-1', 'fabogesic.com');
      ga('send', 'pageview');

    </script>

  </body>
</html>